@import "https://fonts.googleapis.com/css2?family=Rokkitt&display=swap";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Rokkitt', serif;
	text-decoration: none;
	color: #000;
}
.nomargin { margin: 0px; }
html {
	width: 100vw;
	background-color: hsl(25, 100%, 97%);
}
body {
	max-width: 600px;
	margin: auto;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    // margin: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
a {
    font-weight: bold;
	&:hover {
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
	&:before {
		content: "{";
	}
	&:after {
		content: "}";
	}
}
a[href*='//'] {
	&:before {
		content: "[";
	}
	&:after {
		content: "]";
	}
}
.link_nostyle {
    &:hover {
        background-color: unset;
        color: unset;
        text-decoration: unset;
    }
	&:before {
		content: unset;
	}
	&:after {
		content: unset;
	}
}
img {
	max-width: 100%;
	border-radius: 4px;
}
table {

}