<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <table style="margin: auto;">
            <tr>
                <th style="padding-right: 20px;">
                    <h3><a href="#">Technology</a></h3>
                    <img src="images/bulma1.png">
                </th>
                <th>
                    <h3><a href="#">Ecology</a></h3>
                    <img src="images/bulma3.png">
                </th>
            </tr>
            <tr>
                <th style="padding-right: 20px; padding-top: 10px;">
                    <h3><a href="#">Philosophy</a></h3>
                    <img src="images/bulma4.png">
                </th>
                <th style="padding-top: 10px">
                    <h3><a href="#">Art</a></h3>
                    <img src="images/bulma5.png">
                </th>
            </tr>
        </table>
    </body>
</html>