{% set tech_link = "#tech" %}
{% set ecology_link = "#eco" %}
{% set philosophy_link = "#phil" %}
{% set artistry_link = "#art" %}

{% include "partials/header.html" %}
<table style="margin: auto;">
    <tr>
        <th>
            <h3 class="nomargin"><a href={{ tech_link }}>Technology</a></h3>
            <a href={{ tech_link }} class="link_nostyle"><img src="images/technologythumbnail.png"></a>
        </th>
        <th style="width: 20px;"></th>
        <th>
            <h3 class="nomargin"><a href={{ ecology_link }}>Ecology</a></h3>
            <a href={{ ecology_link }} class="link_nostyle"><img src="images/ecologythumbnail.png"></a>
        </th>
    </tr>
    <tr style="height: 10px;"></tr>
    <tr>
        <th>
            <h3 class="nomargin"><a href={{ philosophy_link }}>Philosophy</a></h3>
            <a href={{ philosophy_link }} class="link_nostyle"><img src="images/philosophythumbnail.png"></a>
        </th>
        <th style="width: 20px;"></th>
        <th>
            <h3 class="nomargin"><a href={{ artistry_link }}>Artistry</a></h3>
            <a href={{ artistry_link }} class="link_nostyle"><img src="images/artthumbnail.png"></a>
        </th>
    </tr>
</table>
{% include "partials/footer.html" %}